extends layout 

block content
    h1= title 
    p #[strong Brand:]
        a(href=item.brand.url) #{item.brand.name}
    p #[strong Description:] #{item.description}
    p #[strong Category:] #{item.category.name}

    div(style="margin-left: 20px, margin-top: 20px")
        h4 In Store 
        each val in item_instances 
            hr
            if val.status=="Available"
                p.text-success #{val.status}
            else if val.status=="Out of Stock"
                p.text-danger #{val.status}
                p #[strong Id:]
                    a(href=val.url) #{val.id}
            else 
                p There is no stock of this item in the inventory.
            hr
            p 
                a(href=item.url+'/delete') Delete Book
            p 
                a(href=item.url+'/update') Update Book