extends layout 

block content 
    h1= title 

    form(method='POST' action='')
        div.form-group 
            label(for='name') Name: 
            input#name.form-control(type='text', placeholder='Name of item' name='name' required='true' value=(undefined===item ? '' : item.name))
        div.form-group
            label(for='brand') Brand: 
            select#brand.form-control(type='select', placeholder="Select Brand" name="brand" required="true")
                for brand in brands 
                    option(value=brand._id) #{brand.brand_name}
        div.form-group
            label(for='description') Summary:
            textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===item ? '' : item.description}
        div.form-group
            label(for='category') Category: 
            select#category.form-control(type='select', placeholder="Select Category" name="category" required="true")
                for category in categories
                    option(value=category._id) #{category.name}
        button.btn.btn-primary(type='submit') Submit

        if errors 
            ul 
                for error in errors 
                    li!= error.msg
