extends layout 

block content 
    h1 Id: #{iteminstance._id}
    p #[strong Title:]
        a(href=iteminstance.item.url) #{iteminstance.item.name}
    p #[strong Date Of Manufacture:] #{iteminstance.date_of_manuf}
    p #[strong Status:]
        if iteminstance.status == 'Available'
            span.text-success #{iteminstance.status}
        else if iteminstance.status == 'Out of Stock'
            span.text-danger #{iteminstance.status}
        if iteminstance.isExp == true 
            span.text-warning Item Expired it's Shelf Life
             